<!DOCTYPE html>
<html>

<head>
    <style>
        th,
        td {
            border: 1px solid black;
            width: 30px;
            white-space: pre-line;
            font-size: 12px;
            line-height: 0.8;
        }

        tr {
            height: 30px;
        }

        table {
            border-collapse: collapse;
        }
    </style>

    <script>
        setTimeout(function () {
            {
                window.location.reload(1);
            }
        }, 400);
    </script>

</head>

<body>

    {{table}}

    {{steps}}, {{tps}}
</body>

</html>